@using Timetable
@GetStopName(Route.StopPositions.First().Stop)
@(Route.InterpretAsBidirectional ? "–" : ">")
@GetStopName(Route.StopPositions.Last().Stop)

@if (Route.ManualAnnotation is { } manualAnnotation)
{
    @* 
        Dear future me: this is the only way to preserve the following whitespace.
        DO NOT DELETE.
        Source: https://stackoverflow.com/a/76285808
    *@
    @(" ")
    <span class="fst-italic">
        @manualAnnotation
    </span>
}

@code {
    /// <summary>
    /// When this is <c>null</c>, the city name will always be printed.
    /// </summary>
    [Parameter, EditorRequired] public required City? ReferenceCity { get; init; }
    [Parameter, EditorRequired] public required DateOnly ReferenceDate { get; init; }
    [Parameter, EditorRequired] public required Line.Route Route { get; init; }

    private string GetStopName(Stop stop) => ReferenceCity is null ? stop.FullName(ReferenceDate) : stop.DisplayName(ReferenceDate, ReferenceCity);
}
