@page "/vip/timetables"

<h3>ViP - Fahrpläne</h3>

<div class="container-fluid text-center">
    <ul class="list-group">
        <li class="list-group-item"><a href="/vip/timetables/line">Zu den Linienfahrplänen</a></li>
        <li class="list-group-item"><a href="/vip/timetables/stop">Zu den Haltestellenfahrplänen</a></li>
    </ul>
</div>
