@page "/vip"
<h3>ViP</h3>

<div class="container-fluid text-center">
    <ul class="list-group">
      <li class="list-group-item"><a href="/vip/dotmatrix">Zu den Anzeigen</a></li>
      <li class="list-group-item"><a href="/vip/history">Zu der Liniengeschichte</a></li>
    </ul>
</div>
