@using Timetable.Views
@using TransitWebViewer.Utils

<tr>
    <th scope="row" class="align-content-center">@Hour</th>
    @foreach (var (departures, index) in HourInfo.Departures.Select((dep, index) => (dep, index)))
    {
        @foreach (var departure in departures)
        {
            <td class="text-center align-content-center @StopTimetableView.DaysPartition.ElementAt(index).CssColor()">
                <DepartureMinute Departure="departure" DayMask="StopTimetableView.DaysPartition.ElementAt(index)" StopTimetableView="StopTimetableView" />
            </td>
        }
        @for (var i = departures.Count; i < Math.Max(StopTimetableView.MaximumColumns.ElementAt(index), 1); ++i)
        {
            <td class="text-center align-content-center @StopTimetableView.DaysPartition.ElementAt(index).CssColor()"></td>
        }
    }
</tr>

@code {
    [Parameter, EditorRequired] public required int Hour { get; init; }
    [Parameter, EditorRequired] public required StopTimetableView.HourInfo HourInfo { get; init; }
    [Parameter, EditorRequired] public required StopTimetableView StopTimetableView { get; init; }
}
