@using global::VipTimetable
@using Timetable
@implements ISelector<IHistoryEntry?>
@inject NavigationManager Navigation

<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    @(
    HistoryEntry is null
        ? "Fahrplanperiode"
        : HistoryEntry.ValidityMode is ValidityMode.Regular
            ? $"ab {HistoryEntry.EffectiveFrom}"
            : HistoryEntry.EffectiveFrom == HistoryEntry.EffectiveUntil
                ? $"am {HistoryEntry.EffectiveFrom}"
                : $"vom {HistoryEntry.EffectiveFrom} bis {HistoryEntry.EffectiveUntil}")
</button>
<ul class="dropdown-menu">
    @foreach (var historyEntry in VipHistory.History)
    {
        <li>
            <a class="dropdown-item"
               @onclick="_ => { HistoryEntry = historyEntry; EmitUpdate(); }">
                @(historyEntry.ValidityMode is ValidityMode.Regular
                    ? $"ab {historyEntry.EffectiveFrom}"
                    : historyEntry.EffectiveFrom == historyEntry.EffectiveUntil
                        ? $"am {historyEntry.EffectiveFrom}"
                        : $"vom {historyEntry.EffectiveFrom} bis {historyEntry.EffectiveUntil}")
            </a>
        </li>
    }
</ul>

@code {
    [Parameter, EditorRequired] public required Action<IHistoryEntry?> OnUpdate { get; init; }
    [Parameter, EditorRequired] public required DateOnly InitialDate { get; set; }

    private IHistoryEntry? HistoryEntry { get; set; } = null;

    // OnParametersSet
    protected override void OnInitialized()
    {
        HistoryEntry = IHistory<VipHistory>.EntryAt(InitialDate);
        EmitUpdate();
    }

    private void EmitUpdate()
    {
        OnUpdate(HistoryEntry);
        Navigation.NavigateTo(Navigation.GetUriWithQueryParameter("date", HistoryEntry?.EffectiveFrom.ToString("O")));
    }

}
