@{
    ViewData["Title"] = "Transit Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Home</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@model TransitWeb.Models.TransitStopIdFormModel
<form asp-action="Index" asp-controller="Transit">
    <div class="form-group">
        <label for="stopId" asp-for="StopId">ID der Haltestelle</label>
        <input type="number" class="form-control" id="stopId" aria-describedby="stopIdHelp" placeholder="Zahl von 1 bis 1000" asp-for="StopId" />
        <small id="stopIdHelp" class="form-text text-muted">Numerische ID der gesuchten Haltestelle von 1 bis 1000 (nicht alle IDs sind besetzt).</small>
    </div>
    <button type="submit" class="btn btn-primary">Suchen</button>
</form>

<br /><br />
@{ 
    TransitStopIdFormModel? stopIdModel = ViewData.Model;
    if (stopIdModel is not null)
    {
        if (stopIdModel.StatusCode == System.Net.HttpStatusCode.OK)
        {
            <a href="@stopIdModel.RequestUri">
                <img src="@stopIdModel.RequestUri" alt="Abfahrtstafel" class="img-fluid" />
            </a>
            <br/><br/>
            <a href="@stopIdModel.InfoUri">
                Rohdaten (formatiert)
            </a>
            <br/><br/>
            <a href="@stopIdModel.JsonUri">
                Rohdaten (Json)
            </a>
        }
        else
        {
            <p>Die gewählte Haltestellen-ID existiert nicht!</p>
        }
    }
    else
    {
        <p>Null</p>
    }
}
